//mixin para foto de vestido
@mixin vestido($radius: 10px, $shadow: 0 4px 8px rgba(11, 11, 11, 0.652)) {
    object-fit: cover;
    border-radius: $radius;
    box-shadow: $shadow;
  }
  

//mixin para tutulos-subtitulos

@mixin titulo($align: center, $shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)) {
    text-align: $align;
    text-shadow: $shadow;
  }
  
