// variables para el carusell 
$ancho: 40px;
$alto: 40px;

// primera nav
$color-texto: #040404f2;
$color-fondo: #c786eaf2;
$border-radius: 5px;
$box-shadow: 0 8px 15px rgba(0, 0, 0, 0.659);

// segunda nav 
$color-borde-toggler: #5656c6f2;
$padding-toggler: 5px;
$border-radius-toggler: 5px;

// extencion nav
$color-icono-toggler: rgb(208, 191, 223);
$filter-invert: invert(1);
