body {
    margin: 0;
    padding: 0;
    background-color: #fceee1;
    margin: 12px;
}
.fondo-nuevo{
    background-color: azure;
}

footer {
    width: 100%;
    background: #232221;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}