@use "../utilities/varialbles" as v; 
@use "../utilities/mixins";     
@use "../utilities/maps" as m; 


/* Google fonts  Roboto */
/*  font-family: "Roboto", serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


// Estilos de títulos

.titulo {
    color: map-get(m.$colores,primario);
    font-size:map-get(map-get(m.$tipografia, tamanos), xl);
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
    @include mixins.titulo;
}


.titulo-dos {
    font-size:map-get(map-get(m.$tipografia, tamanos), md);
    margin-top: 20px;
    @include mixins.titulo;

}

.subtitulo{
    margin-top: 60px;
    color: #6F4E37;
    font-size:map-get(map-get(m.$tipografia, tamanos), lg);
    font-family: "Roboto", serif;
    @include mixins.titulo; 
}

/* estilo para Contacto */
.datos{

    color:map-get(m.$colores,primario);
    font-size: 40px;
    font-family: "Roboto", serif;
    @include mixins.titulo;
}

.articulo-dos{
    font-size: 80px;
    font-family: "Roboto", serif;
    @include mixins.titulo;
}
