@use "../utilities/varialbles" as v; 
@use "../utilities/mixins";     
@use "../utilities/maps" as m;     

.portada {
    margin-top: map-get(m.$espaciados,md);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    border-color: #171819;
}

.moda-uno{
    width: 200px;
    height: 300px;
}  
.boda{
    @extend.moda-uno;

}

.carouselExample {
    max-width: 80%;  
    margin-top:60px;
}

.carousel-control-prev-icon {  
    width: v.$ancho;             
    height:v.$alto;                 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  

}
.carousel-control-next-icon{
    @extend.carousel-control-prev-icon  
}

.carousel-inner{
    margin-bottom: 30px;
}


.f-invitada {
    margin: auto;
    @include mixins.vestido; 

}
.f-quince {
    width: 100%;
    max-height: 600px; 
    @include mixins.vestido; 
}

// nosotras

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
    padding: 20px;

    .grid-item {
        display: flex;
        flex-direction: column; /* Apila imagen y texto verticalmente */
        align-items:start;
        justify-content: flex-start;
        gap: 20px;
        padding: 10px;
        margin-top: 60px;
        background-color: #fceee1;
        border-radius: 10px;
        

        img {
            @include mixins.vestido;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        p {
            margin-top:30px;
            text-align: center;
        }
    }
}
 .img-fluid {
    width: 100%;
            height: auto;
            object-fit: cover;
 }   
 
