@use "../utilities/varialbles" as v; 
@use "../utilities/mixins";     
@use "../utilities/maps" as m;   
      


// por que confeccionar 

@media (max-width: 576px) {
    .contenedor{
        display: grid!important;
        grid-template-columns: repeat(1, 1fr)!important;
     
    }
}


@media (min-width: 768px) and (max-width: 1068px) {
    .custom-inv {
        color: #2135b9;
    }
    

@media (min-width:768px) and (max-width:100%) {
    .custom-inv {
        padding-left: 10px;
    }

    }
@media (min-width:576px) and (max-width:767px) {
    .f-invitada {
        display: block;
        margin: 0 auto;
        
    }
}
@media (min-width:576px)and (max-width:100%) {
    .f-invitada {
        width: 80%;
        height: auto;
    }
}
}

//majestuosa 


@media (max-width: 1024px) {
    .conteiner-sola {
      grid-template-columns: 1fr !important; 
      gap: 20px!important; 
      max-width: 90%!important;
      padding: 60px!important;
      border-radius: 16px!important;   
    }
  }
  
  @media (max-width: 1024px) {
    .contenedor-novia {
      grid-template-columns: 1fr !important; 
      gap: 20px!important; 
      max-width: 90%!important;
      padding: 60px!important;
      border-radius: 16px!important;
    }
  }
  
  @media (max-width: 1024px) {
    .novias-box {
        display: flex;
        justify-content: center;
    
    }
  }