@use "../utilities/varialbles" as v; 
@use "../utilities/mixins";     
@use "../utilities/maps" as m;   
      
// media query  page index

@media (max-width: 1560px) {
  .custom-box {
    display: grid!important;
    grid-template-columns: repeat(1, 1fr)!important;
   
  }  

}






      
      // media query  page invitadas

@media (min-width: 768px) and (max-width: 1068px) {
    .custom-inv {
        color: #2135b9;
    }
    

@media (min-width:768px) and (max-width:100%) {
    .custom-inv {
        padding-left: 10px;
    }

    }
@media (min-width:576px) and (max-width:767px) {
    .f-invitada {
        display: block;
        margin: 0 auto;
        
    }
}
@media (min-width:576px)and (max-width:100%) {
    .f-invitada {
        width: 80%;
        height: auto;
    }
}
}


// media query  page nosotras


@media (max-width: 576px) {
   .galeria {
    display: grid!important;
    grid-template-columns: repeat(1, 1fr)!important;
   }

}
    


@media (max-width: 1068px) {

.f-nosotras {
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(11, 11, 11, 0.826);
}

    }




  // quinceañeras  

  @media (max-width: 576px) {
    .quince-quinceaneras h2 {
        font-size: 1rem !important;
        top: 35% !important;
        left: 5% !important;
        transform: translate(0, -30%)!important;
    }

    .quince-quinceaneras h3 {
        font-size: 0.5rem !important;
        top: 45% !important;
        left: 5% !important;
    }
}

@media (min-width:577px) and (max-width:1174px) {
        .quince-quinceaneras h2 {
            font-size: 1.5rem !important ;
            top: 40% !important;
            left: 5% !important;
            transform: translate(0, -40%)!important;
}
        .quince-quinceaneras h3 {
            font-size: 1rem !important;
            top: 50%!important;
            left: 5%!important;
}
}

@media (max-width: 576px) {
    .galeria-quince {
        max-width: 80%!important; // rectifico el ancho de la galeria para moviles
        gap: 5px!important;
        margin-right: 30px!important;
        margin-left:20px !important ;
        padding: 30px!important;

        .img-wrapper {
            width: 160px!important;
            height: 200px!important;
            position: relative!important;
            transform: none!important;
            top: unset!important;
            left: unset!important;
            margin: 10px auto!important;
        }

        // Cambio la disposición
        .img-wrapper:nth-child(n) {
            transform: rotate(0);
        }
    }
}

// NOVIAS 

@media (max-width: 690px) {
    .portada-novia {
        h2 {
            font-size: 2rem !important; /* Reduce el tamaño en móviles */
            top: 40% !important; /* Ajusta la posición para que no quede demasiado abajo */
            left: 50%!important;
            transform: translate(-50%, -40%)!important;
            letter-spacing: 10px!important; 
            background: rgba(0, 0, 0, 0.7)!important; /* Mayor contraste en dispositivos pequeños */
            padding: 10px!important; 
            text-align: center!important; 
            width: 90%!important;
        }
    }
}

  // CARD 

  @media (min-width:431px) and (max-width:1024px) {
    .custom-card {
        grid-template-columns: repeat(2, 1fr)!important;  
    }
    }

@media (max-width: 430px) {
    .custom-card {
        grid-template-columns: 1fr !important;
        gap: 100px!important;
        padding: 5px!important;
        margin-left: 60px!important;
    }

    .card-tamano {
        width: 14rem!important;
        height: 24rem!important;
    }
}

//majestuosa 


@media (max-width: 1024px) {
    .conteiner-sola {
      grid-template-columns: 1fr !important; 
      gap: 20px!important; 
      max-width: 90%!important;
      padding: 60px!important;
      border-radius: 16px!important;   
    }
  }
  
  @media (max-width: 1024px) {
    .contenedor-novia {
      grid-template-columns: 1fr !important; 
      gap: 20px!important; 
      max-width: 90%!important;
      padding: 60px!important;
      border-radius: 16px!important;
    }
  }
  
  @media (max-width: 1024px) {
    .novias-box {
        display: flex;
        justify-content: center;
    
    }
  }