@use "../utilities/varialbles" as v; 
@use "../utilities/mixins";     
@use "../utilities/maps" as m; 


//nosotras

.atelier-container {
    background: linear-gradient(to right, #bcb6be, #f9f4fc); /* Fondo degradado */
    padding: 90px 20px;
    display: flex;
    justify-content: center;
}

    .atelier {
    max-width: 900px;
    padding: 40px;
    background: #e7c6c6;
    border-radius: 32px;
    box-shadow: 0 8px 40px rgba(107, 63, 160, 0.2); 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
}


.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;

    .grid-item {
        display: flex;
        flex-direction: column; /* Apila imagen y texto verticalmente */
        align-items:start;
        justify-content: flex-start;
        gap: 20px;
        padding: 10px;
        margin-top: 60px;
        background-color: #fceee1;
        border-radius: 10px;
        

        img {
            @include mixins.vestido;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        p {
            margin-top:30px;
            text-align: center;
        }
    }
}
 .img-fluid {
    width: 100%;
            height: auto;
            object-fit: cover;
 }   
 


