@use "../utilities/varialbles" as v;
@use "../utilities/mixins";
@use "../utilities/maps" as m;

//quinceañeras

.quince {
  &-quinceaneras {
    h2 {
      top: 50%;
      left: 5%;
      color: #b350e0;
      font-size: 4.5rem;
      font-family: "Playfair Display", serif;
      text-align: center;
      text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.6);
      letter-spacing: 8px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px;
    }

    h3 {
      left: 5%;
      color: #232221;
      font-size: 2rem;
      font-family: sans-serif;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      letter-spacing: 5px;
      
    }
  }

  &-f {
    margin-bottom: 30px;
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, 1);
  }
}

.galeria-quince {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  max-width: 100%; // Reduce el ancho de la galería
  margin: 0 auto; // Centra la galería horizontalmente
  padding: 20px 0; // Espaciado vertical
  background-color: #f5dada;
  border-radius: 10px;

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &:hover {
      transform: scale(1.05); // Efecto de zoom al pasar el cursor
    }
  }
}


// la ultima seccion de quiceañeras 
.quinceaneras-box {
  text-align: center;
  padding: 50px 20px;
  background-color: #f9f9f9;

  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #d63384;
  }

  .intro {
    font-size: 1.1rem;
    max-width: 600px;
    margin: 0 auto 30px;
    color: #555;
  }

  .cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    .card {
      background: white;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 300px;
      text-align: center;
      padding: 15px;

      img {
        width: 100%;
        border-radius: 8px;
      }

      h3 {
        font-size: 1.5rem;
        margin: 10px 0;
        color: #d63384;
      }

      p {
        font-size: 1rem;
        color: #666;
      }
    }
  }
}

// quinceañeras  

@media (max-width: 576px) {
  .quince-quinceaneras h2 {
    font-size: 1rem;
    top: 45%;
    left: 5%;
  }

  .quince-quinceaneras h3 {
    font-size: 1rem;
    
  }
}

@media (min-width:577px) and (max-width:1174px) {
  .quince-quinceaneras h2 {
    font-size: 1.5rem;
    top: 50%;
    left: 5%;
    transform: translate(0, -40%);
  }

  .quince-quinceaneras h3 {
    font-size: 1rem;
    top: 50%;
    left: 5%;
  }
}

@media (max-width: 576px) {
  .galeria-quince {
    max-width: 100%; // rectifico el ancho de la galeria para moviles
    gap: 5px;
    padding: 30px;
  }
}