@use "../utilities/varialbles" as v; 
@use "../utilities/mixins";  
@use "../utilities/maps" as m;       


.navbar {
    color: v.$color-texto;
    background-color: v.$color-fondo;
    border-radius: v.$border-radius;
    box-shadow: v.$box-shadow;
    margin-top: 40px;
}

.navbar-toggler {
    border: 2px solid v.$color-borde-toggler; 
    padding: v.$padding-toggler;
    border-radius: v.$border-radius-toggler;
}

.navbar-toggler-icon {
    filter: v.$filter-invert; 
    border-color: v.$color-icono-toggler;
}

.offcanvas-body {
    background-color: rgb(224, 177, 210);
}
.navbar-brand {
    border-radius: 10px;

}

.lados{
    width: 100px;
    height:70px ;
    border-radius: 10px;
}

